cached_datasets
tinyllama_model
tinyllama-alpaca-finetuned
smollm_model
smollm-alpaca-finetuned
smollm-finetuned
server_evaluation
tokenized_train
tokenized_val
aggregated_models
hcm_dataset

__pycache__