cached_datasets
tinyllama_model
tinyllama-alpaca-finetuned
smollm_model
smollm-alpaca-finetuned
smollm-finetuned
server_evaluation
tokenized_train
tokenized_val
aggregated_models
hcm_dataset
server_model*
server_*
datasets
bin
lib
include
share
pyvenv.cfg
__pycache__
eval_outputs*
fabric_script/sudo_passwds.json
fabric_script/collected_files/girolamo/clientC135_eval_times.txt

.gitignore
