*.pt
datasets
bin
lib
include
share
pyvenv.cfg
__pycache__
eval_outputs*
fabric_script/sudo_passwds.json
fabric_script/**/*.txt
fabric_script/**/*.json
fabric_script/**/*.lore
fabric_script/**/*.jsonl
client*.txt
server*.txt
client*.jsonl
server*.jsonl
*.jsonl
.gitignore
plots/*